<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecordMaintenance">

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.RecordMaintenance" />

        <!-- Reset Password Activity -->
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:parentActivityName=".ForgotPasswordActivity"
            android:theme="@style/Theme.RecordMaintenance" />

        <!-- Change Password Activity -->
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeProfileActivity"
            android:theme="@style/Theme.RecordMaintenance" />

        <!-- Employee Profile Activity -->
        <activity
            android:name=".EmployeeProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.RecordMaintenance" />

        <!-- Login Activity - Main Entry Point -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.RecordMaintenance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add/Edit Employee Activity -->
        <activity
            android:name=".AddEditActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.RecordMaintenance" />

        <!-- Main Dashboard Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.RecordMaintenance" />

    </application>

</manifest>